<form action="/dashboard/addlocation" method="POST">
  <div class="field">
    <label class="label">Location</label> <input class="input" type="text" placeholder="Enter Location" name="title">
  </div>
  <button class="button is-link">Add Location</button>
</form>